
<div class="w3-row">
  <div class="w3-col m12">
      <app-menu-superior></app-menu-superior>
  </div>
</div>
<div class="w3-row">
  <div class="w3-col m3">
      <app-menu-lateral></app-menu-lateral>
  </div>
  <div class="w3-col m9">
   <mat-tab-group>
      <mat-tab> 
          <ng-template mat-tab-label> Novo</ng-template>
    <form [formGroup]="testeForm" (ngSubmit)="onFormSubmit(testeForm.value)">
      <div class="w3-row" style="padding-top:2%">
            <div class="w3-col m12" formGroupName="id">
              <mat-form-field style="width: 95%" formGroupName="criterioDeAceitacao" >
                <mat-select placeholder="História de Usuário" 
                            formControlName="historiaDeUsuario"
                            (selectionChange)="carregarSelectCriterioByHistoria(historiaDeUsuario)">
                      <mat-option>Selecione uma história de usuário</mat-option>
                      <mat-option *ngFor="let historia of historias" 
                                  [value]="historia">
                                  {{historia.id}} - {{historia.titulo}}
                      </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      </div>
        <div class="w3-row">
          <div class="w3-col m12" formGroupName="id">
            <mat-form-field style="width: 95%" formGroupName="criterioDeAceitacao">
              <mat-select placeholder="Critério de Aceitação" 
                          formControlName="idLinhaCriterio"
                          disable="historiaDeUsuario"
                          >
                     <mat-option>Selecione um critério de aceitação</mat-option>
                     <mat-option *ngFor="let criterio of criterios" 
                                 [value]="criterio.id.idLinhaCriterio">
                                 {{criterio.id.idLinhaCriterio}} - {{criterio.titulo}}
                     </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="w3-row">
        <mat-form-field style="width: 95%">
            <input matInput 
                   formControlName="titulo"
                   placeholder="Título">
         </mat-form-field>   
    </div>
      <div class="w3-row">
        <div class="w3-col m2">
            <mat-form-field style="width: 90%">
                <input matInput 
                       formControlName="idOrdenacao"
                       type="number" 
                       placeholder="Ordenação">
            </mat-form-field>
        </div>
        <div class="w3-col m10">
            <mat-form-field style="width: 94%">
                <mat-select placeholder="Usuario Criador" 
                            formControlName="usuarioCriador">
                       <mat-option>Selecione um usuário</mat-option>
                       <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                   [value]="usuario">
                                    {{usuario.nome}}
                       </mat-option>
                </mat-select>
             </mat-form-field>
        </div>
      </div>
      <div class="w3-row">
          <div class="w3-col m12" style="height: 100%;width: 95%; padding-bottom: 2%">
              <ckeditor [editor]="Editor"
                        formControlName="descricaoLinha"></ckeditor>
          </div>
      </div>
      <div class="row">
          <div class="w3-col m12" align="right" style="padding-right:5%"> 
              <button mat-raised-button 
                      style="width: 20%"
                      color="primary"
                      type="submit">Salvar</button>
          </div>
        </div>
    </form>
    </mat-tab>
    </mat-tab-group>
  </div>
</div>