<mat-grid-list cols="12">
        <app-menu-superior></app-menu-superior>
</mat-grid-list>
<form class="form-historia">

    <mat-grid-list cols="12">
        <mat-grid-tile [colspan]="2" [rowspan]="6" style="padding-top:0%">
                <app-menu-lateral></app-menu-lateral>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8">
                <mat-form-field style="width: 90%">
                        <input matInput 
                               name="titulo"
                               placeholder="Título" 
                               [(ngModel)]="historia.titulo">
                </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8">
                <mat-form-field style="width: 90%">
                    <textarea matInput 
                              name="descricao"
                              placeholder="Descrição"
                              [(ngModel)]="historia.descricao"></textarea>
                </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8">
                <mat-form-field style="width: 28%;padding-right: 2%">
                    <input matInput 
                           name="dataCriacao"
                           [matDatepicker]="picker1" 
                           placeholder="Data de Criação"
                           [(ngModel)]="historia.dataCriacao">
                    <mat-datepicker-toggle matSuffix 
                                           [for]="picker1">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field style="width: 28%;padding-right: 2%">
                        <input type="time" 
                               matInput
                               name="tempoEstimado"
                               placeholder="Tempo Estimado" 
                               [(ngModel)]="historia.tempoEstimado">
                </mat-form-field>
                <mat-form-field style="width: 30%;">
                        <input type="time" 
                               matInput
                               name="tempoDecorrido"
                               placeholder="Tempo Decorrido" 
                               [(ngModel)]="historia.tempoDecorrido">
                </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8">
            <mat-form-field style="width: 48%;padding-right: 2%">
                    <mat-select placeholder="Usuario Criador" 
                                name="usuarioCriador"
                                [(ngModel)]="historia.usuarioCriador">
                        <mat-option>Selecione um usuário</mat-option>
                        <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                    [value]="usuario">
                                    {{usuario.nome}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 40%">
                <mat-select placeholder="Parecer da Qualidade" 
                            name="parecerQualidade"
                            [(ngModel)]="historia.parecerQualidade">
                    <mat-option>Selecione um parecer</mat-option>
                    <mat-option *ngFor="let parecer of selectParecer" 
                                [value]="parecer.value">
                                {{parecer.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8">
                <mat-form-field style="width: 90%">
                        <textarea matInput 
                                  name="descricaoParecer"
                                  placeholder="Descrição"
                                  [(ngModel)]="historia.descricaoParecer"></textarea>
                </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8" align="right">
                <button mat-raised-button 
                        color="primary"
                        (click)="salvar()">Salvar</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>

