
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/lembretes"><mat-icon>event</mat-icon> 
                  Lembretes
                </button> 
            </mat-list-item>
           
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/historia-listar"><mat-icon>subject</mat-icon> 
                  Histórias de Usuário
                </button>
            </mat-list-item>

            <mat-list-item role="listitem">
                    <button mat-button
                            style="width: 100%; text-align:left;"
                            routerLink="/criterio-listar"><mat-icon>format_list_bulleted
                                </mat-icon> 
                      Critérios de Aceitação
                    </button>
            </mat-list-item>

            <mat-list-item role="listitem">
                    <button mat-button
                            style="width: 100%; text-align:left;"
                            routerLink="/teste-listar"><mat-icon>wrap_text</mat-icon> 
                      Testes de Aceitação
                    </button>
            </mat-list-item>

            <mat-list-item role="listitem">
                    <button mat-button
                            style="width: 100%; text-align:left;"
                            routerLink="/defeito-listar"><mat-icon>redo</mat-icon> 
                      Gestão de Defeitos
                    </button>
            </mat-list-item>
           
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/plano-listar"><mat-icon>assignment</mat-icon> 
                  Planos de Testes
                </button>
            </mat-list-item>
            
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"><mat-icon>note</mat-icon>
                  Repositório
                </button>
            </mat-list-item>
          
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"><mat-icon>show_chart</mat-icon> 
                  Gráficos
                </button>
            </mat-list-item>
          </mat-list>
