
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/lembretes">
                        <i class="far fa-comments fa-lg"></i>
                  Lembretes
                </button> 
            </mat-list-item>
           
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left"
                        routerLink="/historia-listar">
                 <i class="fas fa-history fa-lg"></i>
                  Histórias de Usuário
                </button>
            </mat-list-item>

            <mat-list-item role="listitem">
                    <button mat-button
                            style="width: 100%; text-align:left;"
                            routerLink="/criterio-listar">
                     <i class="far fa-check-square fa-lg"></i>
                      Critérios de Aceitação
                    </button>
            </mat-list-item>

            <mat-list-item role="listitem">
                    <button mat-button
                            style="width: 100%; text-align:left;"
                            routerLink="/teste-listar">
                    <i class="far fa-list-alt fa-lg"></i>
                      Testes de Aceitação
                    </button>
            </mat-list-item>

            <mat-list-item role="listitem">
                    <button mat-button
                            style="width: 100%; text-align:left;"
                            routerLink="/defeito-listar">
                    <i class="fas fa-bug fa-lg"></i>
                      Gestão de Defeitos
                    </button>
            </mat-list-item>
           
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/plano-listar">
                <i class="fas fa-clipboard-list fa-lg"></i>
                  Planos de Testes
                </button>
            </mat-list-item>
            
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/repositorio-listar">
                <i class="far fa-file fa-lg"></i>
                  Repositório
                </button>
            </mat-list-item>
          
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/grafico-listar">
                        <i class="fas fa-chart-bar fa-lg"></i>
                  Gráficos
                </button>
            </mat-list-item>
          </mat-list>
