
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/lembretes-listar"><mat-icon>event</mat-icon> 
                  Lembretes
                </button> 
            </mat-list-item>
           
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"
                        routerLink="/historia-listar"><mat-icon>subject</mat-icon> 
                  Histórias de Usuário
                </button>
            </mat-list-item>
           
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"><mat-icon>assignment</mat-icon> 
                  Planos de Testes
                </button>
            </mat-list-item>
            
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"><mat-icon>note</mat-icon>
                  Repositório
                </button>
            </mat-list-item>
          
            <mat-list-item role="listitem">
                <button mat-button
                        style="width: 100%; text-align:left;"><mat-icon>show_chart</mat-icon> 
                  Gráficos
                </button>
            </mat-list-item>
          </mat-list>
