<div class="w3-row">
        <div class="w3-col m12">
            <app-menu-superior></app-menu-superior>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col m3">
           <app-menu-lateral></app-menu-lateral>
        </div>
        <div class="w3-col m9">
           <div class="row" style="padding-top:2%">
                <div class="w3-col m2">
                   <button style="width: 90%;"
                           mat-raised-button 
                           color="accent"
                           routerLink="/plano-incluir">Novo</button>
                </div>
                <div class="w3-col m8">
                   <mat-form-field style="width: 98%">
                           <input matInput
                                   placeholder="Buscar por título" 
                                   name="nome"
                                   [(ngModel)]="titulo">
                   </mat-form-field>
               </div>
               <div class="w3-col m2">
                   <button style="width: 90%;"
                           mat-raised-button 
                           color="primary"
                           (click)="buscar(titulo)">Buscar</button>
              </div>
           </div>
           <div class="row">
                   <div class="w3-col m12" style="width: 95%">
                           <table mat-table [dataSource]="planoList">
                           <ng-container matColumnDef="id">
                           <th mat-header-cell *matHeaderCellDef> ID </th>
                           <td mat-cell *matCellDef="let plano"> {{plano.id}} </td>
                           </ng-container>
                           
                           <!-- Name Column -->
                           <ng-container matColumnDef="titulo">
                           <th mat-header-cell *matHeaderCellDef> Título </th>
                           <td mat-cell *matCellDef="let plano"> {{plano.titulo}} </td>
                           </ng-container>
                           
                           <!-- Weight Column -->
                           <ng-container matColumnDef="criador">
                           <th mat-header-cell *matHeaderCellDef> Autor </th>
                           <td mat-cell *matCellDef="let plano"> {{plano.usuarioCriador.nome}} </td>
                           </ng-container>
                           
                           <!-- Symbol Column -->
                           <ng-container matColumnDef="data">
                           <th mat-header-cell *matHeaderCellDef> Data Criação </th>
                           <td mat-cell *matCellDef="let plano"> {{plano.dataCriacao | date:'dd/MM/yyyy'}} </td>
                           </ng-container>
    
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="passou">
                            <th mat-header-cell *matHeaderCellDef> Passou </th>
                            <td mat-cell *matCellDef="let plano"> {{plano.passou == true ? 'Passou' : 'Falhou'}} </td>
                            </ng-container>
                           
                           <ng-container matColumnDef="editarexcluir">
                                   <th mat-header-cell *matHeaderCellDef>  </th>
                                   <td mat-cell *matCellDef="let plano">
                                           <button mat-button
                                                   [routerLink] = "['/plano-editar', plano.id]">
                                           <i class="fa fa-edit"></i>  
                                           </button>
                                           <button mat-button
                                                   (click)="remover(plano.id)">
                                                   <i class="fa fa-trash-alt"></i>  
                                           </button>
                                   </td>
                           </ng-container>
                   
                           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                           </table>
                   </div>
           </div>
       </div>
    </div>