<div class="row">

<div class="w3-col m5 w3-display-middle	">
  <mat-card>
    <div class="w3-row" style="display: inline-block; padding: 32px 48px 0px 48px;"> 
      <div class="w3-col m12">
        <div class="w3-row" align="center">
          <div class="w3-col m12">
            <img src="assets/logotestcenter.png" style="width:80%">
          </div>
        </div>

        <div class="w3-row" style="margin-top:10%"> 
          <div class="w3-col m12">
            <mat-form-field style="width: 100%">
              <input matInput 
                    placeholder="Email"
                    type="email"
                    [(ngModel)]="usuario.email">
            </mat-form-field>
          </div>
        </div>

        <div class="w3-row">
          <div class="w3-col m12">
            <mat-form-field style="width: 100%"> 
              <input matInput 
                    placeholder="Senha"
                    type="password"
                    [(ngModel)]="usuario.senha">
            </mat-form-field>
          </div>
        </div>
        <div class="w3-row">
          <label style='float: right;'>
            <a style="color:#1b9de8;text-decoration: none" routerLink='/esqueci-senha'><b>Esqueceu a senha?</b></a>
          </label>
       </div> 
        <div class="w3-row" style="margin-top:10%">
          <div class="w3-col m12">
            <button mat-raised-button 
                    color="primary"
                    style="width: 100%"
                    (click)="logarSe()">ACESSAR</button>
          </div>
        </div>
        <div class="w3-row" align="center" style="margin-top:10%"> 
          <a routerLink="/usuario-incluir" style="color:#292f33; text-decoration: none">Não possui conta? Crie.</a>
        </div>
      </div>
    </div>
  </mat-card>
</div>

</div>