<table style="border:none">
  <tr>
    <td style="padding-left:2%">
        <img src="assets/logonovo.png" style="height:20%"/>
    </td>
    <td style="width: 100%"></td>
    <td>
        <button mat-button [matMenuTriggerFor]="projetos">
          <i class="fas fa-project-diagram"></i>     
          Projetos
        </button>
        <mat-menu #projetos="matMenu">
          <button mat-menu-item
                  routerLink="/projeto-selecionar">
            <i class="fas fa-exchange-alt"></i>    
            Trocar de Projeto
          </button>
          <button mat-menu-item 
                  [routerLink] = "['/projeto-editar', projetoService.projetoSelecionado.id]">
            <i class="fas fa-users-cog"></i>              
            Gerenciar Membros
            </button>
        </mat-menu>
    </td>
    <td>
        <button mat-button [matMenuTriggerFor]="perfil">
            <i class="fas fa-user-circle"></i> 
             Perfil
        </button>
        <mat-menu #perfil="matMenu">
          <button mat-menu-item
                  [routerLink] = "['/usuario-editar', usuarioService.usuarioLogado.email]">
            <i class="fas fa-user-edit"></i>
            Editar 
          </button>
          <button mat-menu-item
                  routerLink="/login">
            <i class="fas fa-power-off"></i>            
            Sair
          </button>
        </mat-menu>
    </td>


  </tr>


</table>
<mat-divider></mat-divider>
