<div class="w3-row">
    <div class="w3-col m12">
        <app-menu-superior></app-menu-superior>
    </div>
</div>
<div class="w3-row">
    <div class="w3-col m3">
        <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="w3-col m9">
            <div class="row" style="padding-top:2%">
                    <div class="w3-col m2">
                       <button style="width: 90%;"
                               mat-raised-button 
                               color="accent"
                               routerLink="/criterio-incluir">Novo</button>
                    </div>
                    <div class="w3-col m8">            
                            <mat-form-field style="width: 98%">
                                    <mat-select placeholder="História de Usuário" 
                                                [(ngModel)]="historiaId">
                                           <mat-option>Selecione uma história de usuário</mat-option>
                                           <mat-option *ngFor="let historia of historias" 
                                                       [value]="historia.id">
                                                        {{historia.titulo}}
                                           </mat-option>
                                    </mat-select>
                            </mat-form-field>
                   </div>
                   <div class="w3-col m2">
                       <button style="width: 90%;"
                               mat-raised-button 
                               color="primary"
                               (click)="buscar(historiaId)">Buscar</button>
                  </div>
               </div>
               <div class="w3-row">
                       <div class="w3-col m12" style="width: 95%">
                               <table mat-table [dataSource]="criterioList">
                               <ng-container matColumnDef="id">
                               <th mat-header-cell *matHeaderCellDef> Ordenação </th>
                               <td mat-cell *matCellDef="let criterio"> {{criterio.idOrdenacao}} </td>
                               </ng-container>
                               
                               <!-- Name Column -->
                               <ng-container matColumnDef="descricao">
                               <th mat-header-cell *matHeaderCellDef> Título </th>
                               <td mat-cell *matCellDef="let criterio"> {{criterio.titulo}} </td>
                               </ng-container>
                               
                               <!-- Weight Column -->
                               <ng-container matColumnDef="criador">
                               <th mat-header-cell *matHeaderCellDef> Autor </th>
                               <td mat-cell *matCellDef="let criterio"> {{criterio.usuarioCriador.nome}} </td>
                               </ng-container>
                                                             
                               
                               <ng-container matColumnDef="editarexcluir">
                                       <th mat-header-cell *matHeaderCellDef>  </th>
                                       <td mat-cell *matCellDef="let criterio">
                                               <button mat-button
                                                       [routerLink] = "['/criterio-editar', criterio.id.historiaDeUsuario.id,
                                                                         criterio.id.idLinhaCriterio]">
                                               <i class="fa fa-edit"></i>  
                                               </button>
                                               <button mat-button
                                                       routerLink="/criterio-listar" 
                                                       (click)="remover(criterio.id.historiaDeUsuario.id,
                                                                        criterio.id.idLinhaCriterio)">
                                                       <i class="fa fa-trash-alt"></i>  
                                               </button>
                                       </td>
                               </ng-container>
                       
                               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                               </table>
                       </div>
    </div>

</div>