<div class="w3-row">
    <div class="w3-col m12">
        <app-menu-superior></app-menu-superior>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-col m3">
       <app-menu-lateral></app-menu-lateral>
    </div>
  <div class="w3-col m9">
  <form [formGroup]="graficoForm" (ngSubmit)="onFormSubmit(graficoForm.value)" align="center">

    <mat-tab-group>
      
        <mat-tab>
            <ng-template mat-tab-label> Edição [{{id}}]</ng-template>
            <div class="w3-row" style="margin-top:2%">
                <div class="w3-col m12">
                    <mat-form-field style="margin-right:76%">
                        <input matInput 
                            formControlName="idCopy"
                            type="number" 
                            placeholder="Id">
                    </mat-form-field>  
                </div>
            </div>
                <div class="w3-row">
                        <div class="w3-col m12">
                                <mat-form-field style="width: 95%">
                                <input matInput 
                                        formControlName="titulo"
                                        placeholder="Título">
                                </mat-form-field>   
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <mat-form-field style="width: 95%">
                                <mat-select placeholder="Tipo de Consulta" 
                                            (selectionChange)="refinaTipoGrafico()"
                                            formControlName="tipoConsulta">
                                    <mat-option>Selecione uma forma de Consulta</mat-option>
                                    <mat-option *ngFor="let consulta of tiposConsulta" 
                                                [value]="consulta.value">
                                                    {{consulta.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w3-row">
                            <div class="w3-col m12">
                                <mat-form-field style="width: 95%">
                                    <mat-select placeholder="Usuario Filtro" 
                                                formControlName="usuarioAuxCopy"
                                                (selectionChange)="validaUserAuxiliar()">
                                            <mat-option>Selecione um usuário</mat-option>
                                            <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                                        [value]="usuario.email">
                                                        {{usuario.nome}}
                                            </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    <div class="w3-row">
                        <div class="w3-col m12">
                            <mat-form-field style="width: 95%">
                                <mat-select placeholder="Tipo de Gráfico" 
                                            formControlName="tipoGrafico">
                                        <mat-option>Selecione um nível</mat-option>
                                        <mat-option *ngFor="let grafico of tipoGraficoTemp" 
                                                    [value]="grafico.value">
                                                    {{grafico.description}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col m12">
                                <mat-form-field style="width: 95%">
                                    <mat-select placeholder="Usuario Criador" 
                                                formControlName="usuarioCriadorCopy"
                                                (selectionChange)="validaUserCriador()">
                                        <mat-option>Selecione um usuário</mat-option>
                                        <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                                    [value]="usuario.email">
                                                        {{usuario.nome}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                        </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col m12" align="right" style="padding-right:2%"> 
                                <button mat-raised-button 
                                            style="width: 20%"
                                            color="primary"
                                            type="submit">Salvar</button>
                        </div>
                        </div>
        </mat-tab>  
        <mat-tab label="Visualização">
                <div style="display: block" *ngIf="grafico.tipoGrafico == 'pie'">
                    <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        [colors]="chartColors"></canvas>
                </div>
                <div style="display: block" *ngIf="grafico.tipoGrafico == 'doughnut'">
                    <canvas baseChart
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType"
                          [colors]="chartColors"></canvas>
                </div>
        
                           
                 <div style="display: block" *ngIf="grafico.tipoGrafico == 'bar'">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"></canvas>
                 </div>
            </mat-tab>  
</mat-tab-group>
</form>
</div>
</div>