<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-2">
        <button pButton type="button" icon="pi pi-check" routerLink='/us-edit' label="Novo"></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        <input id="input" type="text" pInputText [(ngModel)]="text" placeholder="Título ou Id"
               style="width: 100%">  
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-2">
        <button pButton type="button" label="Buscar" class="ui-button-danger"></button>
    </div>
</div>
