<div class="row">
                <div class="w3-col m12">
                    <app-menu-superior></app-menu-superior>
                </div>
            </div>
            <div class="row">
                 <div class="w3-col m3">
                    <app-menu-lateral></app-menu-lateral>
                 </div>
                 <div class="w3-col m9">
                    <form [formGroup]="historiaForm" (ngSubmit)="onFormSubmit(historiaForm.value)">
                            <div class="row" style="padding-top:2%">
                                    <div class="w3-col m12">
                                         <mat-form-field style="width: 90%">
                                            <input matInput 
                                                   formControlName="titulo"
                                                   placeholder="Título">
                                         </mat-form-field>   
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="w3-col m12">
                                         <mat-form-field style="width: 90%">
                                            <textarea matInput 
                                                      formControlName="descricao"
                                                      placeholder="Descrição"></textarea>
                                            </mat-form-field>
                                    </div>
                            </div>
                            <div class="row">
                                 <div class="w3-col m4">
                                    <mat-form-field style="width: 90%">
                                            <input matInput 
                                                   formControlName="dataCriacao"
                                                   [matDatepicker]="picker1" 
                                                   placeholder="Data de Criação">
                                                    <mat-datepicker-toggle matSuffix 
                                                                          [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                                 <div class="w3-col m4">
                                    <mat-form-field style="width: 90%">
                                            <input type="time" 
                                                   matInput
                                                   formControlName="tempoEstimado"
                                                   placeholder="Tempo Estimado">
                                    </mat-form-field>
                                 </div>
                                 <div class="w3-col m4">
                                    <mat-form-field style="width: 90%">
                                            <input type="time" 
                                                   matInput
                                                   formControlName="tempoDecorrido"
                                                   placeholder="Tempo Decorrido">
                                    </mat-form-field>
                                 </div>
                            </div>
                            <div class="row">
                                    <div class="w3-col m8">
                                         <mat-form-field style="width: 90%">
                                            <mat-select placeholder="Usuario Criador" 
                                                        formControlName="usuarioCriador">
                                                   <mat-option>Selecione um usuário</mat-option>
                                                   <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                                               [value]="usuario">
                                                                {{usuario.nome}}
                                                   </mat-option>
                                            </mat-select>
                                         </mat-form-field>
                                    </div>
                                    <div class="w3-col m4">
                                         <mat-form-field style="width: 90%">
                                            <mat-select placeholder="Parecer da Qualidade" 
                                                        formControlName="parecerQualidade">
                                                    <mat-option>Selecione um parecer</mat-option>
                                                    <mat-option *ngFor="let parecer of selectParecer" 
                                                                [value]="parecer.value">
                                                                {{parecer.description}}
                                                    </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                   </div>
                            </div>
                            <div class="row">
                                    <div class="w3-col m12">
                                        <mat-form-field style="width: 90%">
                                            <textarea matInput 
                                                      formControlName="descricaoParecer"
                                                      placeholder="Descrição"></textarea>
                                        </mat-form-field>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="w3-col m12">
                                         <button mat-raised-button 
                                                 color="primary"
                                                 type="submit">Salvar</button>
                                    </div>
                            </div>
                    </form>
                 </div>    
            </div>    
            