<div class="row">
  <div class="w3-col m12">
      <app-menu-superior></app-menu-superior>
  </div>
</div>
<div class="row">
  <div class="w3-col m3">
      <app-menu-lateral></app-menu-lateral>
  </div>
  <div class="w3-col m9">
    <form [formGroup]="criterioForm" (ngSubmit)="onFormSubmit(criterioForm.value)">
      <div class="row">
            <div class="w3-col m12">
              
              <mat-form-field style="width: 95%" formGroupName="id">
                <mat-select placeholder="História de Usuário" 
                            formControlName="historiaDeUsuario">
                      <mat-option>Selecione uma história de usuário</mat-option>
                      <mat-option *ngFor="let historia of historias" 
                                  [value]="historia">
                                  {{historia.titulo}} - {{historia.titulo}}
                      </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      </div>
      <div class="row">
        <div class="w3-col m2">
            <mat-form-field style="width: 90%">
                <input matInput 
                       formControlName="idOrdenacao"
                       type="number" 
                       placeholder="Ordenação">
            </mat-form-field>
        </div>
        <div class="w3-col m10">
            <mat-form-field style="width: 94%">
                <mat-select placeholder="Usuario Criador" 
                            formControlName="usuarioCriador">
                       <mat-option>Selecione um usuário</mat-option>
                       <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                   [value]="usuario">
                                    {{usuario.nome}}
                       </mat-option>
                </mat-select>
             </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="w3-col m12">
              <mat-form-field style="width: 95%">
                  <textarea matInput 
                            formControlName="descricaoLinha"
                            placeholder="Descrição"></textarea>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="w3-col m12" align="right" style="padding-right:5%"> 
              <button mat-raised-button 
                      style="width: 20%"
                      color="primary"
                      type="submit">Salvar</button>
          </div>
        </div>
    </form>
  </div>
</div>