<div class="w3-row">
    <div class="w3-col m12">
        <app-menu-superior></app-menu-superior>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-col m3">
        <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="w3-col m9">
    <mat-tab-group>
        <mat-tab> 
            <ng-template mat-tab-label> Editar [{{id}}]</ng-template>  
      <form [formGroup]="criterioForm" (ngSubmit)="onFormSubmit(criterioForm.value)">
        <div class="w3-row" style="padding-top:2%">
           <div class="w3-col m9">
              <mat-form-field style="width: 20%" > 
                      <input matInput 
                             formControlName="idCopy"
                             type="number" 
                             placeholder="Id">
            </mat-form-field> 
           </div>
        </div>
        <div class="w3-row">
              <div class="w3-col m12">
                
                <mat-form-field style="width: 95%">
                  <mat-select placeholder="História de Usuário" 
                              formControlName="historiaAux">
                        <mat-option>Selecione uma história de usuário</mat-option>
                        <mat-option *ngFor="let historia of historias" 
                                    [value]="historia.id">
                                    {{historia.titulo}} 
                        </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </div>
        <div class="w3-row">
                <div class="w3-col m12">
                    <mat-form-field style="width: 94%">
                       <input matInput 
                              formControlName="titulo"
                              placeholder="Título">
                    </mat-form-field>   
               </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
              <mat-form-field style="width: 90%">
                  <input matInput 
                         formControlName="idOrdenacao"
                         type="number" 
                         placeholder="Ordenação">
              </mat-form-field>
          </div>
          <div class="w3-col m10">
              <mat-form-field style="width: 93%">
                  <mat-select placeholder="Usuario Criador" 
                              formControlName="usuarioAux"
                              (selectionChange)="validaUserCriador()">
                         <mat-option>Selecione um usuário</mat-option>
                         <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                     [value]="usuario.email">
                                      {{usuario.nome}}
                         </mat-option>
                  </mat-select>
               </mat-form-field>
          </div>
        </div>
        <div class="w3-row">
                <div class="w3-col m12" style="height: 100%;width: 94%; padding-bottom: 2%">
                   <ckeditor [editor]="Editor"
                             formControlName="descricaoLinha"></ckeditor>
                </div>
        </div>
        <div class="w3-row">
                <div class="w3-col m12" align="right" style="padding-right:5%"> 
                    <button mat-raised-button 
                            style="width: 20%"
                            color="primary"
                            type="submit">Salvar</button>
                </div>
              </div>
      </form>
      </mat-tab>
      </mat-tab-group>
    </div>
  </div>