<div class="w3-row">
    <div class="w3-col m12">
        <app-menu-superior></app-menu-superior>
    </div>
  </div>
  <div class="w3-row">
     <div class="w3-col m3">
        <app-menu-lateral></app-menu-lateral>
     </div>
     <div class="w3-col m9">
       <mat-tab-group>
                  <mat-tab> 
                          <ng-template mat-tab-label> Editar [{{id}}] </ng-template>
        <form [formGroup]="projetoForm" (ngSubmit)="onFormSubmit(projetoForm.value)">
            <div class="w3-row" style="padding-top:2%">
                    <div class="w3-col m12">
                        <mat-form-field style="width: 20%">
                            <input matInput 
                                   formControlName="idCopy"
                                   type="number" 
                                   placeholder="Id">
                        </mat-form-field> 
                    </div>
              </div>
                <div class="w3-row"> 
                        <div class="w3-col m12">
                            <mat-form-field style="width: 95%">
                                <input matInput 
                                       formControlName="nome"
                                       placeholder="Nome">
                             </mat-form-field> 
                        </div>
                </div>
                <div class="w3-row">
                        <div class="w3-col m12">
                            <mat-form-field style="width: 95%">
                                <textarea matInput 
                                          formControlName="descricao"
                                          placeholder="Descrição"></textarea>
                            </mat-form-field>
                        </div>
                </div>
                <div class="w3-row">
                  <div class="w3-col m4">
                      <mat-form-field style="width: 90%">
                          <input matInput 
                                 formControlName="dataCriacao"
                                 [matDatepicker]="picker1" 
                                 placeholder="Data de Criação">
                                  <mat-datepicker-toggle matSuffix 
                                                        [for]="picker1">
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="w3-col m8">
                      <mat-form-field style="width: 92%">
                          <mat-select placeholder="Metodologia de Desenvolvimento" 
                                      formControlName="metodologiaDesenvolvimento">
                                 <mat-option>Selecione uma metodologia</mat-option>
                                 <mat-option *ngFor="let met of selectMetodologia" 
                                             [value]="met.value">
                                                {{met.description}}
                                 </mat-option>
                         </mat-select>
                        </mat-form-field>
                  </div>
                </div>
                <div class="w3-row">
                  <div class="w3-col m8">
                      <mat-form-field style="width: 90%">
                          <mat-select placeholder="Usuario Criador" 
                                      formControlName="usuarioAux"
                                      (selectionChange)="validaUserCriador()">
                                 <mat-option>Selecione um usuário</mat-option>
                                 <mat-option *ngFor="let usuario of usuarioService.usuariosByProjeto" 
                                             [value]="usuario.email">
                                              {{usuario.nome}}
                                 </mat-option>
                          </mat-select>
                       </mat-form-field>
                  </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col m12" align="right" style="padding-right:5%"> 
                            <button mat-raised-button 
                                        style="width: 20%"
                                        color="primary"
                                        type="submit">Salvar</button>
                    </div>
               </div>
        </form>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label> Membros </ng-template>                
            <div class="w3-row" style="margin-top:2%">
               <div class="w3-col m10">
                        <mat-form-field style="width: 96%;margin-left:2%">
                                <mat-select placeholder="Usuario Criador" 
                                            [(ngModel)]="membroSelecionado">
                                       <mat-option>Selecione um membro</mat-option>
                                       <mat-option *ngFor="let usuario of membrosDisponiveis" 
                                                   [value]="usuario">
                                                    {{usuario.nome}}
                                       </mat-option>
                                </mat-select>
                             </mat-form-field>
                </div>
                <div class="w3-col m2">
                        <button style="width: 90%;"
                                mat-raised-button 
                                color="accent"
                                (click)="adicionarMembro()">Adicionar</button>
                </div>
            </div>
            <div class="w3-row">
                    <div class="w3-col m12" style="width: 95%">
                            <table mat-table [dataSource]="membros">
                            <ng-container matColumnDef="nome">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
                            </ng-container>
                            
                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
                            </ng-container>
                            
                                                       
                            <ng-container matColumnDef="editarexcluir">
                                    <th mat-header-cell *matHeaderCellDef>  </th>
                                    <td mat-cell *matCellDef="let usuario">
                                        <button mat-button
                                                *ngIf="usuario.email != usuarioService.usuarioLogado.email
                                                       && usuarioService.usuarioLogado.funcaoExercida =='PO' ||
                                                       usuarioService.usuarioLogado.funcaoExercida == 'SM' || 
                                                       usuarioService.usuarioLogado.funcaoExercida == 'L' ||
                                                       usuarioService.usuarioLogado.funcaoExercida == 'GP'"
                                                (click)="removerMembro(projetoService.projetoSelecionado.id,usuario.email)">
                                                <i class="fa fa-trash-alt"></i>  
                                            </button>
                                    </td>
                            </ng-container>
                    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                    </div>
            </div>
            
        </mat-tab>
        </mat-tab-group>
     </div>    
  </div>    
  